<div class="container">
  <div class="row">
    <div *ngFor="let book of books" class="col-md-3 col-sm-6 mb-4" [attr.key]="book.id">
      <div class="card h-100">
        <a [routerLink]="['/books', book.id]">
          <img [src]="book.photo" class="card-img-top book-img" alt="{{ book.title }}">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
        </div>
        <ul class="list-group list-group-flush d-flex flex-row flex-wrap">
          <li class="list-group-item w-100">
            Author: 
            <a [routerLink]="['/authors', book.author.id]" class="text-decoration-none">
              {{ book.author.name }}
            </a>
          </li>
          <li class="list-group-item w-50">
            Pages: 
            <span [ngClass]="{'text-danger': book.pages < 300, 'text-primary': book.pages >= 300}">
              {{ book.pages }}
            </span>
          </li>
          <li class="list-group-item w-50">
            Price: 
            <span [ngClass]="{'text-danger': book.price < 100, 'text-primary': book.price >= 100}">
              {{ book.price }} $
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
