<div class="d-flex justify-content-between flex-wrap">
  <div *ngFor="let book of books" class="card m-2" style="width: 18rem;" [attr.key]="book.id">
    <a [routerLink]="['/books', book.id]">
      <img [src]="book.photo" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
      <h5 class="card-title">{{ book.title }}</h5>
    </div>
    <ul class="list-group list-group-flush d-flex flex-row flex-wrap">
      <li class="list-group-item w-100">
        Author: 
        <a [routerLink]="['/authors', book.author.id]" class="text-decoration-none">
          {{ book.author.name }}
        </a>
      </li>

      <li class="list-group-item w-50">
        Pages: <span [ngClass]="{'text-danger': book.pages < 300, 'text-primary': book.pages >= 300}">
          {{ book.pages }}
        </span>
      </li>
      <button  class="btn btn-primary w-50">Add to list</button>
    </ul>
  </div>
</div>
